*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    min-width: 700px;
    background: #fafafa;
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
    color: #1ab188;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

a:hover {
    color: #179b77;
}

.form {
    background: rgba(19, 35, 47, 0.9);
    padding: 10px;
    max-width: 800px;
    margin: 10px auto;
    border-radius: 4px;
    box-shadow: 0 8px 20px 8px rgba(19, 35, 47, 0.3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.tab-group li a:hover {
    background: #179b77;
    color: #fafafa;
}

.tab-group .active a {
    background: #1ab188;
    color: #fafafa;
}

.tab-content>div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: #fafafa;
    font-weight: 300;
    margin: 0 0 0 0;
}

h2 {
    text-align: center;
    color: #1ab188;
    font-weight: 900;
    margin: 0 0 0 0;
}

h3 {
    text-align: center;
    color: #fafafa;
    font-weight: 200;
    margin: 0 0 0 0;
}

h4 {
    text-align: left;
    color: #fafafa;
}

h5 {
    text-align: center;
    color: #fafafa;
}

span {
    color: #1ab188;
    font-weight: bold;
}

p {
    text-align: center;
    color: #fafafa;
    margin: 0px 0px 50px 0px;
}

div.info {
    color: pink;
    display: box;
    text-align: center;
    padding: 5px;
    margin-top: -20px;
    margin-bottom: 15px;
    border: 1px solid red;
    background: #66131c;
}

label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

label .req {
    margin: 2px;
    color: #1ab188;
}

label.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}

label.active .req {
    opacity: 0;
}

label.highlight {
    color: #fafafa;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row>div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.top-row>div:last-child {
    margin: 0;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 7px 7px;
    background: rgba(19, 35, 47, 0.49);
    border: 0;
    color: #fafafa;
    border-radius: 1px;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.button {
    border: 0;
    outline: none;
    border-radius: 1px;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #fafafa;
    transition: all 0.5s ease;
}

.button:hover,
.button:focus {
    background: #179b77;
}

.button-block {
    display: block;
    width: 100%;
}

.button-logout {
    border: 0;
    outline: none;
    border-radius: 1px;
    font-size: 1rem;
    font-weight: normal;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #1ab188;
    color: #fafafa;
    float: right;
    transition: all 0.5s ease;
    display: block;
}

.button-logout:hover,
.button-logout:focus {
    background: #179b77;
}

.button-buy {
    border: none;
    outline: none;
    border-radius: 1px;
    width: 50px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #1ab188;
    color: #fafafa;
    float: none;
    transition: all 0.5s ease;
}

.button-buy:hover,
.button-buy:focus {
    background: #179b77;
}

.button-sell {
    border: none;
    outline: none;
    border-radius: 1px;
    width: 90px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ff4d4d;
    color: #fafafa;
    float: none;
    transition: all 0.5s ease;
}

.button-sell:hover,
.button-sell:focus {
    background: #d13f3f;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}

td,
tr,
th {
    margin: 0;
    border: 0;
    padding: 2px;
}

table {
    border-spacing: 0px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fafafa;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 2px;
    width: 80%;
}

.close {
    position: relative;
    transform: translate(0, -30%);
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#my-div {
    height: 780px;
    overflow: hidden;
    position: relative;
}

#my-iframe {
    position: absolute;
    top: -7px;
    height: 780px;
}